<div class="scrollable">
    <div class="container">
        <div class="search">
            <input class="search__input" #input (input)="search(input.value)" placeholder="Search">
        </div>
        <!--<pre>{{result|async|json}}</pre>-->
        <ng-container *ngIf="result|async; let res">
            <div class="list">
                <div class="video"
                     *ngFor="let item of res.items"
                     (click)="openVideo(item.id)">
                    <img [attr.src]="item.snippet.thumbnails.medium.url" alt="">
                    <div class="video__name">
                        {{item.snippet.title}}
                    </div>
                </div>
            </div>
            <div class="paging">
                <button class="paging__button" *ngIf="res.prevPageToken" (click)="search(input.value, res.prevPageToken)">previous page</button>
                <button class="paging__button" *ngIf="res.nextPageToken" (click)="search(input.value, res.nextPageToken)">next page</button>
            </div>
        </ng-container>

    </div>
    <div class="overlay" *ngIf="isVideoOpen" (click)="closeVideo()">
        <iframe id="ytplayer" type="text/html" width="720" height="405"
                [attr.src]="videoLink"
                frameborder="0" allowfullscreen>
        </iframe>
    </div>
</div>